.pockemon {
  flex-basis: 20%;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pockemon:hover {
  background: beige;
  border-radius: 2px;
}
.title {
  font-size: 2rem;
  padding: 10px 0;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
}
#pokemon-img {
  width: 150px;
  height: 150px;
  max-height: 80%;
}
